.eink-log {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.eink-log__title {
  font-weight: 700;
  margin-bottom: var(--eink-size-8);
}

.eink-log__entries {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.eink-log__entries--bordered {
  border: var(--eink-border-medium);
}

.eink-log-item {
  position: relative;
  display: grid;
  grid-template-columns: var(--eink-size-20) 13ch 12ch 1fr max-content;
  align-items: center;
  column-gap: var(--eink-size-16);
  padding: var(--eink-size-6) var(--eink-size-16) var(--eink-size-6) var(--eink-size-20);
}

.eink-log__entries--bordered .eink-log-item {
  border-top: var(--eink-border-thin);
}

.eink-log__entries--bordered .eink-log-item:first-child {
  border-top: none;
}

.eink-log-item__marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: var(--eink-size-12);
  height: 100%;
  border-right: var(--eink-border-medium);
  background: var(--eink-color-background);
  color: var(--eink-color-primary);
}

.eink-log-item__marker--info {
  border-right: none;
}

.eink-log-item__marker--warning,
.eink-log-item__marker--error {
  background: var(--eink-color-primary);
}

.eink-log-item__badge {
  grid-column: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--eink-size-20);
  height: var(--eink-size-20);
  border: var(--eink-border-medium);
  font-weight: 700;
}

.eink-log-item__badge--critical {
  background: var(--eink-color-primary);
  color: var(--eink-color-secondary);
}

.eink-log-item__time {
  grid-column: 2;
  font-family: var(--eink-font-family-main);
  white-space: nowrap;
}

.eink-log-item__source {
  grid-column: 3;
  font-family: var(--eink-font-family-main);
  font-weight: 700;
  white-space: nowrap;
}

.eink-log-item__description {
  grid-column: 4;
}

.eink-log-item__ack {
  grid-column: 5;
  box-sizing: border-box;
  padding: var(--eink-size-2) var(--eink-size-6);
  border: var(--eink-border-thin);
  font-family: var(--eink-font-family-main);
  font-weight: 700;
  font-size: var(--eink-size-12);
}
