.eink-label {
  display: inline-block;
  font-family: var(--eink-font-family-secondary);
  font-size: var(--eink-size-8);
  text-transform: uppercase;
}

.eink-label--form {
  font-size: var(--eink-size-14);
}
