.eink-description {
  display: flex;
  flex-direction: column;
  gap: var(--eink-size-4);
}

.eink-description__label {
  color: var(--eink-color-grey-50);
}

.eink-description__value {
  margin: 0;
}

.eink-description__group {
  display: flex;
  flex-direction: column;
  gap: var(--eink-font-size-default);
}

.eink-description__group_horizonal {
  flex-direction: row;
  align-items: flex-start;
}
